/*css document*/

h1{color:#131D6E;
 font-size: 2.5em;
text-align: center;
}

h2{
    text-align: center;
    margin-bottom:2em;
}
h3{
    text-transform: uppercase;
    font-family:sans-serif;
    margin-left:1em;
}

h4{
    color: #10639E;
}

.price{
    font-style:italic;
}
ul{
    list-style: none;
    margin-left:1em;
    
}
body{
    background-color: #F5F3ED;
}

li{
    line-height: 0.5em;
    margin-bottom: 3em
}